@import '../constants.scss';
@import '../mixins.scss';

.deg-button {
  @include basic-box;
  height: 1.5rem;
  font-size: 1rem;
  margin: 0.25rem;
  text-align-last: start;

  &:hover {
    background-color: $mainHoover;
  }

  &:active {
    background-color: $mainActive;
  }

  .deg-icon-svg {
    float: right;
    position: relative;
    bottom: 1.5px;
  }
}