@import '../constants.scss';
@import '../mixins.scss';

.deg-button {
  @include basic-box;
  height: 1.5rem;
  font-size: 1rem;
  margin: 0.25rem;
  text-align-last: start;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, $main, $main-30);
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.75) 30%, #000 50%, rgba(0,0,0,.75) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }

  &:active {
    background: linear-gradient(to right, $main, $main-20);
  }

  .deg-icon-svg {
    float: right;
    position: relative;
    bottom: 1.5px;
  }
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
