@import '../constants.scss';
@import '../mixins.scss';

.deg-dropdown-menu {
  .deg-dropdown-label {
    grid-area: label;
    align-self: center;
    color: $contrast;
  }

  .deg-dropdown-menu-button {
    grid-area: button;
    text-align-last: justify;
    width: 8rem;
    cursor: pointer;

    .deg-icon-svg {
      margin-left: 0.5rem;
      display: inline-block;
      transform: rotate(0deg);
      transition: transform 0.5s ease-in-out;
    }

    &:active svg{
      width: 50rem;
       transform: rotate(20deg);
    }
  }

  .deg-dropdown-menu-bottom-container {
    position: fixed;
    display: flex;

    .deg-dropdown-menu-spacer {
      grid-area: spacer;
      visibility: hidden;
    }

    .deg-dropdown-menu-list {
      @include opaque-box;
      grid-area: list;
      margin: 0rem 0.25rem 0.25rem 0.25rem;
      cursor: pointer;
      width: 8rem;

      div {
        padding: 0.2rem;
        &:hover {
          @include list-box-border;
          background-color: $mainOpaqueHover;
        }
        &:active {
          @include list-box-border;
          background-color: $mainOpaqueActive;
        }
      }
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
