@import '../constants.scss';
@import '../mixins.scss';

.deg-dropdown-menu {
  .deg-dropdown-label {
    align-self: center;
    color: $contrast-outside;
  }

  .deg-dropdown-menu-button {
    width: 8rem;
    cursor: pointer;

    .deg-icon-svg {
      margin-left: 0.5rem;
      display: inline-block;
      transform: rotate(0deg);
      transition: transform 0.5s ease-in-out;
    }

    &:active svg{
      width: 50rem;
       transform: rotate(20deg);
    }
  }

  .deg-dropdown-menu-popup-list-item {
    padding: 0.2rem;

    &:hover {
      @include list-box-border;
      background-color: $mainOpaqueHover;
    }

    &:active {
      @include list-box-border;
      background-color: $mainOpaqueActive;
    }

  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
