@import '../mixins.scss';
@import '../constants.scss';

.deg-input {
  .deg-input-label {
    color: $contrast-outside;
    margin-right: 0.25rem;
  }

  .deg-input-field {
    @include basic-box;
    box-shadow: inset 0 0 0 0.75px $contrast-outside;
    outline: none;
    border: none;
    height: 1.5rem;
    width: 1.75rem;
    padding: 0.25rem;
    text-align-last: center;
    transition: all 0.3s ease-in-out;

    &:focus {
      animation: border-pulse 3s infinite;
      outline: none;
    }
  }
}

@keyframes border-pulse {
  0% {
    box-shadow: inset 0 0 0 0.75px $contrast-outside; /* Pulse effect */
  }

  50% {
    box-shadow: inset 0 0 0 0.95px $contrast-inside;
  }

  100% {
    box-shadow: inset 0 0 0 0.75px $contrast-outside;
  }
}
