@import '../mixins.scss';

.deg-input {
  .deg-input-label {
    color: $contrast;
    margin-right: 0.25rem;
  }

  .deg-input-field {
    @include basic-box;
    box-shadow: inset 0 0 0 0.5px rgb(233, 218, 119);
    outline: none;
    border: none;
    height: 1.5rem;
    padding: 0.25rem;
  }
}
