@import '../constants.scss';
@import '../mixins.scss';

.deg-list {
  .deg-list-table {
    border: 1px solid $contrast-outside;
    border-radius: $radius;
    border-spacing: 0;
    width: 100%;

    thead {
      @include border-top-radius;
      height: 3rem;
      color: $contrast-inside;
      background-color: $mainHeader;
      border-top: 1px solid $contrast-outside;

      th {
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid $contrast-outside;

        &:first-child {
          border-top-left-radius: $radius;
        }

        &:last-child {
          border-top-right-radius: $radius;
        }
      }
    }

    tbody {
      color: $contrast-inside;
      tr {
        &:nth-child(even) {
          background-color: $mainEven;
        }

        &:nth-child(odd) {
          background-color: $mainOdd;
        }

        &:hover {
          background-color: $mainHoover;
          cursor: pointer;
        }

        &:active {
          background-color: $mainActive;
          cursor: pointer;
        }

        &:not(:last-child) {
          td {
            border-bottom: 1px solid $contrast-outside;
          }
        }
      }

      tr:last-child {
        td:first-child {
          border-bottom-left-radius: $radius;
        }

        td:last-child {
          border-bottom-right-radius: $radius;
        }
      }
    }

    th, td {
      padding: 0.25rem;

      &:first-child {
        padding-left: 0.5rem;
      }
    }

    td {
      height: 3rem;
      font-size: 0.75rem;

      &.deg-list-icon-cell {
        width: 2.75rem;
      }
    }
  }

  &.deg-list-has-pagination {
    .deg-list-table {
      border-radius: 0;
      @include border-top-radius;
    }

    .deg-list-table tbody tr:last-child td {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .deg-list-pagination {
    @include border-bottom-radius;
    height: 3rem;
    background-color: $mainHeader;
    color: $contrast-inside;
    border: 1px solid $contrast-outside;
    border-top: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .deg-list-pagination-content {
        display: flex;
        gap: 1rem;

        .deg-list-pagination-left-icons {
            gap: 0.5rem;
        }

        .deg-list-pagination-pages {
            display: flex;
            gap: 1.25rem;
            margin-top: 2px;

            .deg-list-pagination-page {
                cursor: pointer;
                height: 0.5rem;
                width: 0.5rem;

                &.deg-list-page-active {
                    color: $highlight;
                }
            }
        }

        .deg-list-pagination-page-number {
            gap: 0.5rem;
        }

        .deg-icon-svg {
            cursor: pointer;
        }
    }
  }
}
