@import '../constants.scss';
@import '../mixins.scss';

.deg-popup {
    position: absolute;

    &.deg-popup-list {
      @include opaque-box;
      margin-top: 0.25rem;
      cursor: pointer;
      width: 8rem;

      .deg-popup-list-item {
        padding: 0.2rem;

        &:hover {
          @include list-box-border;
          background-color: $mainOpaqueHover;
        }

        &:active {
          @include list-box-border;
          background-color: $mainOpaqueActive;
        }
      }
    }

    &.deg-popup-default {
      @include opaque-box;
    }   
}