$main: rgba(58, 109, 228, 0.45);
$contrast: #fffdc8;
$highlight: #FFA500;
$radius: 0.25rem;
$disabledText: #303030;

$mainHoover: darken($main, 20%);
$mainActive: lighten($main, 20%);
$mainHeader: darken($main, 25%);
$mainOdd: lighten($main, 8%);
$mainEven: darken($main, 5%);

$mainOpaque: #4d6aaefa;
$mainOpaqueHover: darken($mainOpaque, 5%);// ~20% darker
$mainOpaqueActive: lighten($mainOpaque, 5%);  // ~20% lighter
