$main: #9370DB;
$contrast: #FFD700;
$highlight: fuchsia ;
$radius: 0.25rem;
$disabledText: #606060;

$mainHoover: darken($main, 20%);
$mainActive: lighten($main, 20%);
$mainHeader: darken($main, 25%);
$mainOdd: lighten($main, 8%);
$mainEven: darken($main, 5%);

$mainOpaque: #9370DB;
$mainOpaqueHover: darken($mainOpaque, 5%);// ~20% darker
$mainOpaqueActive: lighten($mainOpaque, 5%);  // ~20% lighter
