@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import '@/css/constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    font-family: 'Cinzel', serif;
}

h3, p {
    color: $contrast;
}
